$alert-width: 40rem;

.acomp.alert {
  display: none;
  height: auto;
  width: $alert-width;
  left: 50%;
  margin-left: $alert-width / -2;
  top: 50%;
  margin-top: -10rem;
  background: red;
  padding: 2rem;
  color: antiquewhite;
  position: absolute;
  border-radius: .5rem;
  * {
    margin: 0;
    color: whitesmoke;
  }
  &.show{
    display: block;
  }

  .closebtn{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
  }
  
}

